<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <display-name> welcome to tomcat </display-name>
  <description>
		Welcome to Tomcat
  </description>
  <!-- 
  <error-page>
	<error-code>500</error-code>    
	<location>/error.jsp</location>
  </error-page>
  <error-page>
	<error-code>404</error-code> 
	<location>/error.jsp</location>
  </error-page>
  <error-page>
	<exception-type>java.lang.NullPointerException</exception-type>
	<location>/error.jsp</location>
  </error-page>
  -->
  
  	<listener>  
		<listener-class>com.hnu.cloudmining.servletApp.OnlineUserList</listener-class>
	</listener>
	
	<!-- if the seesion has no action exceed 1 minutes , the session will be destroyed automaticly,  defualt timeout is 30 minutes -->
	<!-- 
	<session-config>
		<session-timeout>1</session-timeout> 
	</session-config>
	-->
	
	<filter>  
		<filter-name>userLoginFilter</filter-name>
		<filter-class>com.hnu.cloudmining.servletApp.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userLoginFilter</filter-name>
		<url-pattern>/servlet/loginFilter/*</url-pattern>  <!-- when the client access the any resources in path of /servlet/LoginFilter/, the userLoginGFilter funcion will be executed automaticly   -->
	</filter-mapping>
  
	<servlet>  										
		<servlet-name>hi</servlet-name>    <!--  servlet could be a jps file , or class -->
		<jsp-file>/WEB-INF/hello.jsp</jsp-file> 	
	</servlet>
	
	<servlet-mapping>  								
		<servlet-name>hi</servlet-name>
		<url-pattern>/hello</url-pattern> 
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.hnu.cloudmining.servletApp.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/helloServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>input</servlet-name>
		<servlet-class>com.hnu.cloudmining.servletApp.InputServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>input</servlet-name>
		<url-pattern>/servlet/inputServlet</url-pattern>
	</servlet-mapping>
	
	

 </web-app>
 
 
 
 
 